<div class="" style="width: 20rem">
  <div class="d-flex flex-row justify-content-between">
    <p class="text-muted fw-bold">Suggestions For You</p>
    <%= link_to root_path, style:"text-decoration:none" do%>
      <small class="fw-bold text-dark">See All</small>
    <% end %>
  </div>

  <div class="card d-flex flex-row align-items-center gap-3 px-3" style="width: 25rem; height: 7rem; overflow-x:scroll;">
    <% suggestions.each do |suggestion| %>
      <%= render 'suggestions/suggestion', suggestion: suggestion %>
    <% end %>
  </div>
</div>